# Archivos generados por Maven
/target/

# Archivos de configuración de IntelliJ IDEA
.idea/
*.iml

# Archivos de logs
*.log

# Archivos del sistema operativo
.DS_Store
Thumbs.db

/data/red_sismica.lock.db
/data/red_sismica.mv.db
/data/red_sismica.trace.db